/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(233, 231, 231);
  
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1.7rem;
  width: 80vw;
  max-width: 1300px;
  min-height: 600px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  background: rgb(236, 250, 255);
}

.fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 15px;
  min-height: 450px;
}

.loading {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  font-weight: 400;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 9999;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(58, 63, 58);
  border-radius: 3px;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-container {
  position: relative;
  margin: 20px;
}

.placeholder {
  position: absolute;
  margin-top: 2px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.placeholder.small {
  font-size: 12px;
  top: 0;
  transform: translateY(0);
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.typed-text {
  margin-top: 10px;
  color: green;
}

.typed-text span {
  font-weight: bold;
}
